:3000 {
  root * /app
  try_files {path}.html {path} /index.html
  file_server
  header {
    -server
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}
