.bigRedDivider {
  background-color: #874b52;
  height: 4px;
  width: 100%;
  margin-top: 8px;
}

.smallRedDivider {
  background-color: #874b52;
  height: 1px;
  width: 45%;
}

.normalDivider {
  background-color: #53565a;
  height: 1px;
  width: 100%;
}

.sidebarVerticalBigRedDivider {
  background-color: #874b52;
  height: 60px;
  width: 10px;
}

.sidebarVerticalSmallRedDivider {
  margin-left: 2px;
  background-color: #874b52;
  height: 60px;
  width: 4px;
}

.sidebarRedDivider {
  background-color: #874b52;
  height: 2px;
  width: 32px;
}

.sidebarVerticalBigBlueDivider {
  background-color: #236192;
  height: 60px;
  width: 10px;
}

.sidebarVerticalSmallBlueDivider {
  margin-left: 2px;
  background-color: #236192;
  height: 60px;
  width: 4px;
}

.sidebarBlueDivider {
  background-color: #236192;
  height: 2px;
  width: 32px;
}

.bigBlueDivider {
  background-color: #236192;
  height: 4px;
  width: 100%;
  margin-top: 8px;
}

.bigBrownDivider {
  background-color: #736028;
  height: 4px;
  width: 100%;
  margin-top: 8px;
}
